body {
    font-size: 15pt;
    /* background-color: blue; */
}

h1 {
    width: 400px;

}

#main-div {
    color: blue;
    /* height:100px; */
    /* width: 50px; */
    /* display: flex;
    flex-direction:column;
    /* justify-content: center; */
    /* justify-items: center; */
  }

  #raining-flags {
    display:flex;
    width: 100vw;
    justify-content: center;
  }

  #play-button {
    display:flex;
    width:100vw;
    justify-content: center;
  }

  #home-div {
    display:flex;
    width:98vw;
    justify-content:center;
  }

  #Home {
    display:flex;
    width:50vw;
    justify-content: center;
  }

  /* #play-again-div {
    display:flex;
    width:98vw;
    justify-content:center;
  } */

  #play-again {
    display:flex;
    width:50vw;
    justify-content: center;
  }

  
  #game-canvas {
    display:flex;
    width:98vw;
    justify-content:center;
  }

  #div-canvas-background {
    display:flex;
    flex-direction: column
  }

  #move-right-and-left-div {
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    /* border: 2px solid red;  */
  }

/* #move-right-button-div {
  display:flex;

  border: 2px solid red;
}

#move-left-button-div {
  display:flex;
  border: 2px solid red;
} */

input {
  font-size: 250px;
}

p {
  font-size: 20px;
  text-align: center;
}

h5 {
  text-align: center;
}

#rlbuttondiv {
  /* opacity: 0; */
  display:flex;
  flex-direction: row;
  /* border: 2px solid red; */
}

/* move_right {
  opacity: 0;
} */

#rlbuttondiv {
  width:98vw;
  height:100vh;
  position:absolute;
  z-index: 2;
  display: flex;
}
#move_left {
  flex:1;
  opacity: 0;
  /* width: 49vw; */
  /* height: 98vh; */
}

#move_right {
  flex:1;
  opacity: 0;
  /* width: 49vw; */
  /* height: 98vh; */
}

#game-canvas {
  position:relative;
  z-index: 1;
}

#hellodiv {
  position: absolute;
  opacity:0;
}

#header {
  width:50vw;
  display:flex;
  flex-direction:column;
  justify-self: center;
  /* border: 2px solid red; */
}
