body {
    font-size: 15pt;
    /* background-color: blue; */
}

h1 {
    width: 400px;

}

#main-div {
    color: blue;
    /* height:100px; */
    /* width: 50px; */
    /* display: flex;
    flex-direction:column;
    /* justify-content: center; */
    /* justify-items: center; */
  }

  #raining-flags {
    display:flex;
    width: 100vw;
    justify-content: center;
  }

  #play-button {
    display:flex;
    width:100vw;
    justify-content: center;
  }

  #home-div {
    display:flex;
    width:98vw;
    justify-content:center;
  }

  #Home {
    display:flex;
    width:640px;
    justify-content: center;
  }

  #play-again-div {
    display:flex;
    width:98vw;
    justify-content:center;
  }

  #play-again {
    display:flex;
    width:640px;
    justify-content: center;
  }

  
  #game-canvas {
    display:flex;
    width:98vw;
    justify-content:center;
  }

  #div-canvas-background {
    display:flex;
    flex-direction: column
  }

  #move-right-and-left-div {
    display:flex;
    flex-direction:row-reverse;
    justify-content: center;
    /* border: 2px solid red;  */
  }

/* #move-right-button-div {
  display:flex;

  border: 2px solid red;
}

#move-left-button-div {
  display:flex;
  border: 2px solid red;
} */

input {
  font-size: 250px;
}